@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    </div>
 <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that demonstrate how to use Entity Framework Core in an ASP.NET Core MVC web application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
    </div>
    <div class="col-md-4">
        <h2>Download Lab</h2>
        <p><a class="btn btn-default" href="https://google.com">See project source code &raquo;</a></p>
    </div>
</div>
