@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- Banner section -->
<div class="banner_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="banner_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">New<br />Model Cars</h1>
                                <p class="banner_text">
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt uolore magna aliqua.
                                </p>
                                <div class="form-group">
                                    <input type="text" class="update_mail" placeholder="Search here" />
                                    <div class="subscribe_bt">
                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">New<br />Model Cars</h1>
                                <p class="banner_text">
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt uolore magna aliqua.
                                </p>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 padding_right0">
                <div class="banner_img">
                    <img src="~/images/banner-img.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About section -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_img">
                    <img src="~/images/about-img.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="about_taital">About Showroom</h3>
                <p class="about_text">
                    Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Models section -->
<div class="models_section layout_padding">
    <div class="container">
        <h1 class="models_taital text-center">Our Models Cars</h1>

        <div class="models_section_2">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/img-1.png" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <h3 class="carolo_text">
                        <span class="number_text">01</span> New Carolo car
                    </h3>
                    <p class="ullamco_text">
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="price_text">
                        <span style="color:#fc9d22;">Price</span> $30000
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Blog section -->
<div class="blog_section layout_padding">
    <div class="container">
        <h1 class="blog_taital text-center">FEATURED VEHICLES</h1>

        <div class="row">
            <div class="col-md-4">
                <img src="~/images/img-4.png" class="img-fluid" />
                <h3 class="blog_text">Voluptate</h3>
                <p class="lorem_text">
                    Commodo consequat. Duis aute irure dolor in reprehenderit.
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/images/img-5.png" class="img-fluid" />
                <h3 class="blog_text">Voluptate</h3>
                <p class="lorem_text">
                    Commodo consequat. Duis aute irure dolor in reprehenderit.
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/images/img-6.png" class="img-fluid" />
                <h3 class="blog_text">Voluptate</h3>
                <p class="lorem_text">
                    Commodo consequat. Duis aute irure dolor in reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>
